Repository jayeskay/aws-transit-data, changes with the labels that .github/labeler.yaml gives for each.
All labels: docs, infra, ops, tests

.github/labeler.yaml:

# ChatGPT 5 (OpenAI ChatGPT, 2025)
docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "**/*.md"]

infra:
  - changed-files:
      - any-glob-to-any-file: ["infrastructure/**", "terraform/**"]

ops:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**"]

tests:
  - changed-files:
      - any-glob-to-any-file: ["**/*test.*", "**/__tests__/**"]

ops: configure workflow for pr to inherit issue label(s)
  .github/workflows/inherit-labels.yaml
Labels: ops

ops: try some changes to workflow
  .github/workflows/inherit-labels.yaml
Labels: ops

ops: add reqs file for migration to uv
  requirements.txt
Labels: none

ops: remove versions from reqs pkgs
  requirements.txt
Labels: none

ops: migrate reqs to .toml + .lock files
  pyproject.toml
  uv.lock
Labels: none

ops: delete original reqs file
  requirements.txt
Labels: none

fix: add "type-empty" rule for commitlint
  package.json
Labels: none

ops: configure .gitignore w custom + defaults
  .gitignore
Labels: none

ops: perform basic docker run
  docs/1_infrastructure/local/docker_basics.md
  docs/1_infrastructure/local/docker_setup.md
  docs/1_infrastructure/local/docker_setup1.png
  infra/local/Dockerfile
  src/docker_test.py
Labels: docs, tests

docs: remove local dep md file from summary
  docs/SUMMARY.md
Labels: docs

ops: print env var using python call
  infra/local/Dockerfile
Labels: none

ops: print env var using entrypoint syntax
  infra/local/Dockerfile
Labels: none

docs: include notes re: cmd vs entrypoint
  docs/1_infrastructure/local/docker_basics.md
Labels: docs

ops: reconfigure dockerfile to run with uv
  infra/local/Dockerfile
Labels: none

ops: add original settings.json
  .vscode/settings.json
Labels: none

ops: define default interpreter as uv per chatgpt
  .vscode/settings.json
Labels: none

ops: update passed env var; clean up .py script
  infra/local/Dockerfile
  src/docker_test.py
Labels: tests

docs: include steps + output for updated dockerfile
  docs/1_infrastructure/local/docker_setup.md
Labels: docs

ops: rename .py script for docker job
  src/docker_print.py
Labels: none

ops: configure postgres image + container
  infra/local/Dockerfile
  infra/local/docker-compose.yaml
  src/docker_print.py
Labels: none

ops: add pandas to venv
  pyproject.toml
  uv.lock
Labels: none

ops: extract + load some data files
  data/taxi_zone_lookup.csv
  infra/local/Dockerfile
  src/docker_process.py
Labels: none

ops: configure sqlfluff linter
  .sqlfluff
  src/app/repositories/sql/_example.sql
Labels: none

ops: install dbt via uv
  pyproject.toml
  uv.lock
Labels: none

ops: mv example query
  src/app/transform/_example.sql
Labels: none

ops: init 'transform' project (dbt)
  src/app/transform/.gitignore
  src/app/transform/README.md
  src/app/transform/analyses/.gitkeep
  src/app/transform/dbt_project.yml
  src/app/transform/macros/.gitkeep
  src/app/transform/models/example/my_first_dbt_model.sql
  src/app/transform/models/example/my_second_dbt_model.sql
  src/app/transform/models/example/schema.yml
  src/app/transform/seeds/.gitkeep
  src/app/transform/snapshots/.gitkeep
  src/app/transform/tests/.gitkeep
Labels: docs

ops: restructure dbt example model
  src/app/transform/dbt_project.yml
  src/app/transform/models/example/_example__docs.md
  src/app/transform/models/example/_example__models.yml
Labels: docs

ops: add variable configs ripped from gitlab analytics
  src/app/transform/dbt_project.yml
Labels: none

ops: create basic staging model for nyt tlc
  src/app/transform/dbt_project.yml
  src/app/transform/models/staging/nyc_tlc/_nyc_tlc__models.yml
  src/app/transform/models/staging/nyc_tlc/_nyc_tlc__sources.yml
  src/app/transform/models/staging/nyc_tlc/stg_nyc_tlc__green_taxi.sql
  src/app/transform/models/staging/nyc_tlc/stg_nyc_tlc__yellow_taxi.sql
Labels: none

ops: create basic intermediate step
  src/app/transform/models/intermediate/_intermediate__models.yml
  src/app/transform/models/intermediate/int_taxi_locations_joined.sql
Labels: none

ops: create skeleton files for taxi (mart) model
  src/app/transform/models/marts/_marts__docs.md
  src/app/transform/models/marts/_marts__models.yml
  src/app/transform/models/marts/taxi.sql
Labels: docs

ops: add dbt-postgres plugin
  pyproject.toml
  uv.lock
Labels: none

ops: add sqlalchmy + psycopg2-binary
  pyproject.toml
  uv.lock
Labels: none

ops: push data to postgres
  src/docker_process.py
Labels: none

ops: refresh uv.lock, add dbt
  uv.lock
Labels: none

ops: dbt project configuration
  src/app/transform/dbt_project.yml
Labels: none

ops: override default dbt macro for schema naming
  src/app/transform/macros/generate_schema_name.sql
Labels: none

ops: create profiles.yml
  src/app/transform/profiles.yml
Labels: none

ops: test; clean up project file
  src/app/transform/dbt_project.yml
Labels: none

ops: move .sql file again
  src/app/repositories/sql/_example.sql
Labels: none
